    * {
      margin: 12px;
      padding: 0px;
      box-sizing: border-box;
    }
    html,body{
      width: 100%;
      height: 100%;
    }
    body{

        display: flex;
   flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      height: 100%;

    }
    
      #hid{
        display: none;
        color: red;
      }
        
       #passworderror,#emailerror{
        display: none;
        color: red;
      }
      #main{
        display: flex;
   
        justify-items: center;
        align-items: center;
      }
        #container{
            
            padding: 0.5rem;
            max-height: 350px;
            width: 400px;
            border: 0.3rem solid grey;
        }
        input{
            padding: 10px;
            width: 300px;
        }
        button{
            border-radius: 10px solid  rgba(46, 46, 122, 0.37);
            background-color: rgba(46, 46, 122, 0.37);
            align-self: center;
            padding: 0.5rem 0.7rem;
            width: 280px;
        }
        #small{
            padding-left: 4.7rem;
           
        }