  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    html,body{
     width: 100%;
     height: 100%;
  
    }
body {
  background-color: #000;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
width: 100%;
height: 100%;
}

.flex_convay{
 display: flex;
 flex-direction: column;

}
.Search{
    margin-left: 1.5rem;
    padding: 8px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2rem;
  scroll-behavior: smooth;
  width: 100%;
      height: 100%;
}



.card {
  position: relative;
  width: 180px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.blurred-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.7);
  z-index: 1;
}

.content {
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 2;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 0.8rem;
  opacity: 0.8;
}
